#main {
    flex: auto;
    margin: auto;
    width: 50%;
    text-align: left;
}

#title,
p {
    text-align: center;
}

.title-section {
    background-color: #D3DCE0;
    margin: 15px;
    padding: 10px;
}

#img-div {
    width: 50%;
    margin: 20px auto; /* Center the figure itself */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image {
    width: 600px;
    max-width: 600px;
    height: auto;
    align-items: center;

}

#img-caption {
    margin-top: 10px;
    text-align: center;
    font-size: 12px; /* Center the text within the caption */
    width: 400;
}

#tribute-info {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}

li {
    margin: 25px;
}

#tribute-link {
    text-decoration: none;
    color: blueviolet;
}
